@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    /* Custom Scrollbar Styles */
    :root {
      --sb-track-color: #636363;
      --sb-thumb-color: #ceb555;
      --sb-size: 5px;
    }

body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 11px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 11px;
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
}
